---
interface Props {
  title: string;
  logo: string;
  link?: string;
  date: string;
}

const { title, logo, link, date } = Astro.props;
---

<a
  class="rounded-md
  items-center
    flex gap-x-6
    py-2 px-5 md:py-6 md:px-4
    text-xs md:text-base
    transition
    hover:scale-110 hover:bg-white/10"
  href={link}
  target="_blank"
>
  <picture class="size-12 justify-center">
    <img loading="lazy" src={logo} alt={`${title}`} />
  </picture>
  <div>
    <h2 class="text-lg font-semibold text-yellow-400 mt-2">{title}</h2>
    <div class="meta">
      <time class="mb-1 text-sm font-normal leading-none text-sky-400/80"
        >{date}</time
      >
    </div>
  </div>
</a>
